/* SPDX-License-Identifier: MIT */

@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* start: leave free space at the bottom (don't maximize over the whole height) */
    align-items: start;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.3rem 0.6rem;  /* border: top left */
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
